.app_theme_green {
    --bg-color: #f5fbf4;
    --inverted-bg-color: #16310e;
    --primary-color: #070802;
    --secondary-color: #23650a;
    --inverted-primary-color: #d3d3d3;
    --inverted-secondary-color: #f8fcf8;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;
}
